@charset "utf-8"
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Dominic Torres
   Date: 9/16/19  
   
   Filename: lake_styles.css

*/


/*Structual Styles*/





/*Body Header Styles*/





/*Navagation Styles*/





/*Section#leftcol Styles*/





/*Aside Styles*/





/*Section#rightcol Styles*/




/*Blockquote Styles*/





/*Footer Styles*/



