@charset "utf-8"

/*font styles*/
@font-face{
   font-family: Champagne;
   src: url(cac_champagne.ttf) format('ttf'),
      url(cac_champagne.woff) format('woff'),
      url(cac_champagne.woff2) format('woff2');
}
@font-face{
   font-family: DobkinPlain;
   src: url(DobkinPlain.ttf) format('ttf'),
      url(DobkinPlain.woff) format('woff'),
      url(DobkinPlain.woff2) format('woff2');
}


/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Dominic Torres
   Date: 9/16/19  
   
   Filename: lake_styles.css

*/


/*Structual Styles*/





/*Body Header Styles*/





/*Navagation Styles*/





/*Section#leftcol Styles*/





/*Aside Styles*/





/*Section#rightcol Styles*/




/*Blockquote Styles*/





/*Footer Styles*/
footer{
   color: white;
   background-color: black;
   padding-left: 5px;
   padding-right: 5px;
   text-align: center;
}


